.Circle{
  margin-top: 50px;
  margin-left: 2em;
}
.Rectangle{
  margin-top: 50px;
  margin-left: 2em;
}
.geometry_val{
  margin-top: 50px;
}
.field_val{
  margin-top: 2em;
  margin-left: 5em;
  width: 20em;
  height: 3em;
  border: 1px;
  border-radius: 8px;
  border-style:outset;
}
.cir_in{
  margin-top: 2.5em;
}
.rec{
  margin-top: 2.5em;
  margin-left: 1em;
  background: #20bf6b;
}
.sq{
  margin-top: 2em;
  margin-left: 1em;
  background: #20bf6b;
}
.cir{
  margin-top: 2em;
  margin-left: 1em;
  background: #20bf6b;
}
