<!-- {% load static %} -->
{% include "base.html" %}
<style media="screen">
  .col-sm-6{
      margin-top: 10em;
      /* margin-left: 1em; */
  }
</style>

<div class="container">
  <div class="col-sm-6">
      <img src="https://previews.123rf.com/images/hermandesign2015/hermandesign20151704/hermandesign2015170400026/75432334-boy-body-parts-diagram-poster.jpg" alt="Body Parts" style="width:400px;height:500px;">
  </div>
  <div class="col-sm-6">
    <img src="https://images-na.ssl-images-amazon.com/images/I/815cB-qmjQL.jpg" alt="Body Parts" style="width:400px;height:500px;">
  </div>
</div>
<!-- {% include "footer.html" %} -->
