{%load static%}

<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/css/bootstrap.min.css" integrity="sha384-PmY9l28YgO4JwMKbTvgaS7XNZJ30MK9FAZjjzXtlqyZCqBY6X6bXIkM++IkyinN+" crossorigin="anonymous">

<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">

<script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-
q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin=" anonymous"></script>

<script src="https://stackpath.bootstrapcdn.com/bootstrap/3.4.0/js/bootstrap.min.js" integrity="sha384-vhJnz1OVIdLktyixHY4Uk3OHEwdQqPppqYR8+5mjsauETgLOcEynD9oPHhhz18Nw" crossorigin="anonymous"></script>

<script src="https://kit.fontawesome.com/94438b2b6f.js" crossorigin="anonymous"></script>

<style>
.footer {
  position: fixed;
  left: 0;
  bottom: 0;
  width: 100%;
  height: 5em;
  background-color: #c4e7ff;
  color: #0a0a0a;
  /* text-align: center; */
}
.social-icons
{
  text-align:right;
  margin-right: 2em;

}
.side{
  text-align:left;
  margin-left: 2.5em;
}
.footer hr{
 border-top-color:#bbb;
 margin-top:0.75em;
 margin-left: 2em;
 margin-right: 2em;
}

</style>

<div class="footer">
  <hr>
        <div class="row">
          <div class="col-xs-6">
            <div class="side">
              <p class="copyright-text" style='font-size:16px;color:black;padding-right:1em;'>Copyright &copy; 2020 All Rights Reserved by Vimit</p>
            </div>
          </div>

          <div class="col-xs-6">
            <div class="social-icons">
              <a class="facebook" href="https://www.facebook.com/" ><i class="fab fa-facebook-square" style='font-size:22px;color:black;padding-right:1em;'></i></a>
              <a class="twitter" href="https://twitter.com/" ><i class="fab fa-twitter" style='font-size:22px;color:black;padding-right:1em;'></i></a>
              <a class="linkedin" href="https://www.linkedin.com/" ><i class="fab fa-linkedin" style='font-size:22px;color:black;padding-right:1em;'></i></a>
            </div>
          </div>
        </div>
</div>
