<!-- {% load static %} -->
{% include "base.html" %}
{% include "tiles.html" %}
<link rel= "stylesheet" href= "{% static "css/kids.css" %}">
<script type="text/javascript" src="{% static "js/kids.js" %}"></script>
<div class="container">
      <div class="row">
        <div class="column">
            <div class="row_container">
            <div class="row_1">&nbsp;
              <input id="btn_size" class="btn btn-lg button A" type="button" value="A" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="B" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="C" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="D" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="E" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="F" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="G" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="H" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="I" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="J" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="K" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="L" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="M" onclick="chart_val(this.value)"/>&nbsp;
              <br>
            </div>&nbsp;
            <div class="row_2">&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="N" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="O" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="P" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="Q" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="R" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="S" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="T" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="U" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="V" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="W" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="X" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="Y" onclick="chart_val(this.value)"/>&nbsp;
              <input id="btn_size" class="btn btn-lg button" type="button" value="Z" onclick="chart_val(this.value)"/>&nbsp;
              <br>
            </div>&nbsp;
          </div>
        </div>
              <div id="chart">
                <img id="display" src="" alt="">
              </div>
      </div>

</div>
<script>
    $("document").ready(function () {
          $("#display").attr("src","https://i.pinimg.com/originals/65/f4/bc/65f4bc9522cb48294530b1dca14efa4f.jpg");
    });
</script>
