{%load static%}
{% block kids %}
<div class="container">
  <div class="jumbotron">
    <a href="\kids" class="w3-button"><img src="{% static 'image/child.ico' %}" alt=""><p>Alphabets</p></a>
    <a href="\body" class="w3-button"><img src="{% static 'image/body.ico' %}" alt=""><p>Body Parts</p></a>
    <a href="\fruits" class="w3-button"><img src="{% static 'image/fruits.ico' %}" alt=""><p>Fruits</p></a>
    <a href="\animal" class="w3-button"><img src="{% static 'image/animal.ico' %}" alt=""><p>Animals</p></a>
    <a href="\vehicle" class="w3-button"><img src="{% static 'image/vehicle.ico' %}" alt=""><p>Vehicles</p></a>
  </div>
</div>
{% endblock %}
